


<div class = "container">
<div class = "superior">
<div class = "tipoProduto">               
    <div class = "radioContainer">
        <mat-radio-group aria-label       = "metros" 
                              class       = "radioMetrosGroup"
                              [(ngModel)] = "Impressora"
                              (change)    = "change()">
            <mat-radio-button class = "radioMetrosBtn" 
                              value = "LPT1" 
                            checked>Impressora LPT1</mat-radio-button>
            <mat-radio-button class = "radioMetrosBtn" 
                              value = "USB">Impressora USB</mat-radio-button>
        </mat-radio-group>
        <p>Selected Printer:  {{ Impressora }} </p>
        
        
        
    </div>            
</div>
</div>
</div>
