
<div class = "container">
<div class = "superior">
<div class = "tipoProduto">               
    <div class = "radioContainer">
        <mat-radio-group aria-label = "metros" 
                              class = "radioMetrosGroup">
            <mat-radio-button class = "radioMetrosBtn" 
                              value = "lpt1" 
                            checked>Impressora LPT1</mat-radio-button>
            <mat-radio-button class = "radioMetrosBtn" 
                              value = "usb">Impressora USB</mat-radio-button>
        </mat-radio-group>   
    </div>            
</div>
</div>
</div>
