%flex-center { display: flex; justify-content: center }
%sizebox { width: 400px; height: 200px;}

.superior {
    @extend %flex-center;
    font-family: 'Muli';
}

.superior div {   
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(179,220,237,0.8);
    border-radius: 4px;
    margin: 20px;
}


 .produto{
    
    @extend %flex-center, %sizebox;
}

.tipoProduto {
    @extend %sizebox ;
    position: relative;
}


.inferior {
    display: flex;
    flex-direction: column;
}

.topo_tipo_produto, .topo_produto  {
    text-align: center;
}

.rolos {
    @extend %flex-center;
    margin-top: 10px;
}

.tipo_radio {
    display: flex;
    
    flex-direction: column;
    margin: 0px 50px 0px 20px;
    text-align: center;
}

mat-radio-button {
    padding: 0px 0px 0px 12px;
}
 
.consulta {
    @extend %flex-center;
}

.send_form {
    padding: 10px 12px 0px 0px;
}
