%flex-center { display: flex; justify-content: center }
%sizebox { width: 400px; height: 200px;}

.radioContainer{
    @extend %flex-center;
}

.radioMetrosGroup {
    margin: 15px 0;
  }
  
  .radioMetrosBtn {
  }

  .consultaContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
  }

  .consultaTitle {

  }

  .consultaForm {

  }