
.superior {
    display: flex;
    justify-content: center;
    font-family: 'Muli';
}

.superior div {   
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(179,220,237,0.8);
    border-radius: 4px;
    margin: 20px;
}

.tipoProduto, .produto{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.inferior {
    display: flex;
    justify-content: center;
}

