<div class="container">
    <div class="superior">
        <div class="tipoProduto">
            <h3>Tipo de Produto</h3>
        </div>
        <div class="produto">
            <h3>Produto</h3>
        </div>
    </div>
    <div class="inferior">
        <div class="rolos">
            <mat-radio-group aria-label="metros">
                <mat-radio-button value="1">100</mat-radio-button>
                <mat-radio-button value="2">200</mat-radio-button>
                <mat-radio-button value="3">300</mat-radio-button>
                <mat-radio-button value="4">400</mat-radio-button>
                <mat-radio-button value="5">500</mat-radio-button>
                <mat-radio-button value="6">600</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="rolos">
            <mat-checkbox>Reinspeção</mat-checkbox>
        </div>
        <div class="consulta">
            <form >
                <mat-form-field class="send_form">
                  <input matInput placeholder="Código da bobina" value="">
                </mat-form-field>
                <button mat-raised-button color="primary">Verifica Produto Bobina</button>
            </form>
        </div>
        
    </div>
</div>
