<div class="container">
    <div class="superior">
        <div class="tipoProduto">
            <h3>Tipo de Produto</h3>
        </div>
        <div class="produto">
            <h3>Produto</h3>
        </div>
    </div>
    <div class="inferior">
        <div class="rolos">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-checkbox>Reinspeção</mat-checkbox>
        </div>
        
    </div>
</div>
