<mat-tab-group dynamicHeight animationDuration="200ms">
    <mat-tab label="Impressão"> 
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">done</mat-icon>
            Impressão
        </ng-template>    
        <app-impressao></app-impressao>
    </mat-tab>
    <mat-tab > 
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings_backup_restore</mat-icon>
                Reimpressão
        </ng-template>
        <app-reimpressao></app-reimpressao>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">local_printshop</mat-icon>
            Impressoras 
        </ng-template>
        <app-impressoras></app-impressoras>
    </mat-tab>
</mat-tab-group>