%flex-center { width: 100%; 
               display: flex; }
%adjust-itens { margin-right: 15%; }               

.principalContainer {
    @extend %flex-center;
}

.menu {
    width: 100%;
    
}

.logoPrincipal {    
    height: 48px;    
}

.itens {
    @extend %adjust-itens;
}