<div class = "principalContainer">
<img class = "logoPrincipal" 
     src = "../../assets/img/logoCorfio2019.png" 
     alt = "">
<div class = "menu">
    <mat-tab-group dynamicHeight 
                   animationDuration = "200ms" 
                   color = "accent" 
                   backgroundColor = "primary">
        <mat-tab label = "Impressão"> 
            <ng-template mat-tab-label>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                Impressão
            </ng-template> 
            <div class = "itens">
                <app-impressao></app-impressao>
            </div>   
        </mat-tab>
        <mat-tab> 
            <ng-template mat-tab-label>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    Reimpressão
            </ng-template>
            <div class = "itens">
                <app-reimpressao></app-reimpressao>
            </div>
            
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                Impressoras 
            </ng-template>
            <div class = "itens">
                <app-impressoras></app-impressoras>
            </div>
        </mat-tab>
    </mat-tab-group>    
</div>
</div>
