%flex-center { display: flex; justify-content: center }
%sizebox { width: 400px; height: 200px;}
%flex-centeraround-container { 
                    display: flex; 
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: column; 
                    }
.radioContainer{
    @extend %flex-centeraround-container;
}

.radioMetrosGroup {
    margin: 15px 0;
  }
  
  .radioMetrosBtn {
      padding-left: 20px;
      padding-right: 5px;
  }

  .consultaContainer {
      @extend %flex-centeraround-container;
  }

  .consultaTitle {

  }

  .consultaForm {
    @extend %flex-centeraround-container;
  }

  mat-form-field {
      @extend %flex-centeraround-container;
  }

  mat-select {
      width: 200px;
  }

  