<div class = "container">
    <div class = "superior">
        <div class = "tipoProduto">
            <form [formGroup] = "firstFormGroup">
                <mat-form-field>
                    <mat-label>Produto</mat-label>
                    <mat-select matInput 
                                formControlName = "firstCtrl" 
                                required 
                                [(value)] = "produto">
                        <mat-option value = "Bobininha">Bobininha</mat-option>
                        <mat-option value = "Retalho">Retalho</mat-option>
                        <mat-option value = "Rolo">Rolo</mat-option>
                    </mat-select> 
                </mat-form-field>
                
            </form>
            <div *ngIf = "produto == 'Rolo'"  
                     class = "radioContainer">
                    <mat-radio-group aria-label = "metros" 
                                     class      = "radioMetrosGroup"
                                     [(ngModel)] = "fatorConv">
                        <mat-radio-button class = "radioMetrosBtn" value = "100">100</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "200">200</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "300">300</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "400">400</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "500">500</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "600">600</mat-radio-button>
                    </mat-radio-group>   
                </div>
        </div>
    <div class = "consultaContainer">
        <div class = "consultaForm">
            <mat-form-field >
                <input  matInput 
                        placeholder = "Código do Lote" 
                        [(ngModel)] = "codBobina"
                        name        = "codBobina"
                        (keydown)   = "sendWithEnter($event)">
            </mat-form-field>
            
            <button mat-raised-button 
                    color   = "primary"
                    (click) = "consultaReimpressao()">Verifica Produto Bobina</button>
        </div>
    </div>
    <div class="imprimir"
         *ngIf = "dataQueryReimp != null && !erroReimp">
            <ul>
                <li> {{ dataQueryReimp.descItem }} </li>
            </ul>
        <div class="balanca" *ngIf="blockMetros" >
             Peso Balança:   
            <button mat-raised-button
                    color   = "warn"
                    (click) = "consultaReimpressao()">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"/><path d="M0 0h24v24H0z" fill="none"/></svg>

                {{ peso }} kg
            </button>            
        </div>
        
        

        <form class = "imprimirForm" [formGroup]="sendFormGroup"> 
            <mat-form-field >
                <input matInput 
                       placeholder     = "Qtd. Metros" 
                       autocomplete    = "off"
                       [(ngModel)]     = "Metros"
                       name            = "Metros"
                       type            = "number"
                       (value)         = "Metros"
                       formControlName = "metrosControl"
                       required>
            </mat-form-field>
        
            <mat-form-field>
                <input matInput 
                       placeholder     = "Qtd. Etiquetas" 
                       autocomplete    = "off"
                       [(ngModel)]     = "Quant"
                       (value)         = "Quant"
                       type            = "number"
                       formControlName = "quantControl"
                       name            = "Quant">
            </mat-form-field>
            <div class = "btnPrint">
                <button mat-raised-button 
                        color   = "warn"
                        (click) = "reprintEtq()">Imprimir
                </button>
            </div>
        </form>
    </div>
    <div>
        Empresa: {{ Empresa }} <br>
        Impressora Selecionada: {{ Impressora }}
    </div>        
    
    <div>
        <!-- <ul *ngIf = "dataQueryReimp != null">
            <li> itCodigo   : {{ dataQueryReimp.itCodigo   }} </li>
            <li> Impressora : {{ dataQueryReimp.Impressora }} </li>
            <li> Maquina    : {{ dataQueryReimp.Maquina    }} </li>
            <li> Metros     : {{ dataQueryReimp.Metros     }} </li>
            <li> metros     : {{ dataQueryReimp.metros     }} </li>
            <li> codRie     : {{ dataQueryReimp.codRie     }} </li>
            <li> fase       : {{ dataQueryReimp.fase       }} </li>
            <li> descItem   : {{ dataQueryReimp.descItem   }} </li>
            <li> peso       : {{ dataQueryReimp.peso       }} </li>
            <li> pesoBalanca: {{ dataQueryReimp.pesoBalanca}} </li>
            <li> erro       : {{ dataQueryReimp.erro       }} </li>
        </ul> -->
        <!-- <ul>
            <li> Metros   : {{ Metros    }} </li>
            <li> Quant    : {{ Quant     }} </li>
            <li> reInspec : {{ reInspec  }} </li> 
            <li> fatorConv: {{ fatorConv }} </li> 
            <li> codBobina: {{ codBobina }} </li> 
            <li> seq      : {{ seq       }} </li> 
            <li> produto  : {{ produto   }} </li> 
            <li> tipoProd : {{ tipoProd  }} </li> 
            <li> opcao    : {{ opcao     }} </li>
        </ul> -->
    </div>
</div>
