%flex-center                 { display:         flex; 
                               justify-content: center;
                               align-items:     center}

%sizebox                     { width:           400px; 
                               height:          200px;}

%flex-centeraround-container { display:         flex; 
                               align-items:     center;
                               justify-content: space-around;
                               flex-direction:  column;}


.balanca .pesoBalanca {
    @extend %flex-center;
    margin: 5px;
}

.pesoBalanca {
    background-color:  rgba(31, 62, 44, 0.9);
}

.tipoProduto{
    margin-top: 5px;
}                               
                               
.radioContainer{
    @extend %flex-centeraround-container;
}

.radioMetrosGroup {
    margin: 15px 0;
}
  
.radioMetrosBtn {
    padding-left:  20px;
    padding-right: 5px;
}

.consultaContainer {
    @extend %flex-centeraround-container;
}

 
.consultaForm {
    @extend %flex-centeraround-container;
}

.imprimir {
    @extend %flex-centeraround-container;
}

button {
    display:         flex; 
    align-items:     center;
    justify-content: space-around;
    flex-direction:  column;
}

.imprimirForm input {
    flex-direction: row;
}

mat-form-field {
    @extend %flex-centeraround-container;
}

mat-select {
    width: 200px;
}  