
<div class = "container">
    <div class = "superior">
        <div class = "tipoProduto">
            <form [formGroup] = "firstFormGroup">
                <mat-form-field>
                    <mat-label>Produto</mat-label>
                    <mat-select matInput 
                                formControlName = "firstCtrl" 
                                required 
                                [(value)] = "produto">
                        <mat-option value = "bobininha">Bobininha</mat-option>
                        <mat-option value = "retalho">Retalho</mat-option>
                        <mat-option value = "rolo">Rolo</mat-option>
                    </mat-select> 
                </mat-form-field>

                
                
            </form>
            <div *ngIf = "produto == 'rolo'" 
                     class = "radioContainer">
                    <mat-radio-group aria-label = "metros" 
                                     class      = "radioMetrosGroup"
                                     [(ngModel)] = "fatorConv">
                        <mat-radio-button class = "radioMetrosBtn" 
                                          value = "100" 
                                          checked>100</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "200">200</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "300">300</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "400">400</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "500">500</mat-radio-button>
                        <mat-radio-button class = "radioMetrosBtn" value = "600">600</mat-radio-button>
                    </mat-radio-group>   
                </div>
        </div>
    <div class = "consultaContainer">
        <div class = "consultaForm">
            <mat-form-field >
                <input  matInput 
                        placeholder = "Código do Lote" 
                        [(ngModel)] = "codBobina"
                        name        = "codBobina"
                        (keydown)   = "sendWithEnter($event)">
            </mat-form-field>
            
            <button mat-raised-button 
                    color   = "primary"
                    (click) = "consultaReimpressao()">Verifica Produto Bobina</button>
        </div>
    </div>
    <div class="imprimir"
         *ngIf = "dataQueryReimp != null && !erroReimp">
            <ul>
                <li> {{ dataQueryReimp.descItem }} </li>
            </ul>
        <div class="balanca" *ngIf="blockMetros" >
             Peso Balança:   
            <button mat-raised-button
                    color   = "warn"
                    (click) = "consultaReimpressao()">
                <mat-icon class = "tab-icon">autorenew</mat-icon>
                {{ peso }} kg
            </button>            
        </div>            
        <form class = "imprimirForm"> 
            <mat-form-field>
                <input matInput 
                       placeholder  = "Qtd. Metros" 
                       autocomplete = "off"
                       [(ngModel)]  = "Metros"
                       name         = "Metros"
                       [disabled]   = "blockMetros"
                       value        = "Metros">
            </mat-form-field>
            <mat-form-field>
                <input matInput 
                       placeholder  = "Qtd. Etiquetas" 
                       autocomplete = "off"
                       [(ngModel)]  = "Quant"
                       name         = "Quant">
            </mat-form-field>
        </form>
        <button mat-raised-button 
        color   = "primary"
        (click) = "reprintEtq()">Imprimir
        </button>
    </div>
    
    <div>
        <ul *ngIf = "dataQueryReimp != null">
            <li> itCodigo   : {{ dataQueryReimp.itCodigo   }} </li>
            <li> Impressora : {{ dataQueryReimp.Impressora }} </li>
            <li> Maquina    : {{ dataQueryReimp.Maquina    }} </li>
            <li> Metros     : {{ dataQueryReimp.Metros     }} </li>
            <li> metros     : {{ dataQueryReimp.metros     }} </li>
            <li> codRie     : {{ dataQueryReimp.codRie     }} </li>
            <li> fase       : {{ dataQueryReimp.fase       }} </li>
            <li> descItem   : {{ dataQueryReimp.descItem   }} </li>
            <li> peso       : {{ dataQueryReimp.peso       }} </li>
            <li> pesoBalanca: {{ dataQueryReimp.pesoBalanca}} </li>
            <li> erro       : {{ dataQueryReimp.erro       }} </li>
        </ul>
        <ul>
            <li> Metros   : {{ Metros    }} </li>
            <li> Quant    : {{ Quant     }} </li>
            <li> reInspec : {{ reInspec  }} </li> 
            <li> fatorConv: {{ fatorConv }} </li> 
            <li> codBobina: {{ codBobina }} </li> 
            <li> seq      : {{ seq       }} </li> 
            <li> produto  : {{ produto   }} </li> 
            <li> tipoProd : {{ tipoProd  }} </li> 
            <li> opcao    : {{ opcao     }} </li>
        </ul>
    </div>
</div>
